body {
  margin: 0;
  padding: 0;
  background-color:#c4bdb7;
  
}

.container {
  font-family: 'Roboto', sans-serif;
  display: inline;
  background-color: #8a7b70;
  max-width: 1100px;
  height: 50vh;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  box-shadow: 0px 0px 30px 6px rgba(0,0,0,0.7);
  overflow: hidden;
  text-align: center;
}

.left-text {
  width: 50%;
  float: left;
  color: white;
  margin-top: 25%;
}

.left-text > input {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  width: 40%;
}

.right-img {
  background-image: url('https://assets.codepen.io/6060109/form-stage-3.png');
  background-repeat: no-repeat;
  object-fit: cover;
  border-radius: 0 25px 25px 0;
  float: right;
  height: 100%;
  width: 50%;
}

input::placeholder {
  color: white;
}

input:focus {
  outline: none;
}

.button-group {
  margin: 15px;
}

.button-group > button {
  background: none;
  border: 1px solid white;
  color: white;
  padding: 15px;
  margin: 15px;
  border-radius: 10px;
}

.next-button {
  background: #48494B;
  border: 1px solid #484848;
  color: white;
  padding: 12px;
  margin: 12px;
  border-radius: 10px;
}

.next-button:hover {
  color: black;
  background: white;
  border: white;
  cursor: pointer;
}

.button-group > button:hover {
  color: black;
  background: white;
  cursor: pointer;
}
