body {
  margin: 0;
  padding: 0;
  background-color:#c4bdb7;
  
}

.container {
  font-family: 'Roboto', sans-serif;
  display: inline;
  background-color: #8a7b70;
  max-width: 1100px;
  height: 50vh;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  box-shadow: 0px 0px 30px 6px rgba(0,0,0,0.7);
  overflow: hidden;
}

.left-text {
  width: 50%;
  background-color: blue ;
  float: left;
  color: white;
  
}

.right-img {
  background-image: url('https://assets.codepen.io/6060109/form-stage-3.png ');
  object-fit: contain;
  border-radius: 0 25px 25px 0;
  float: right;
  height: 100%;
  width: 50%;
}